venv
/venv
/venv/
/music/*
music/*
/__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.egg
*.egg-info
*.dist-info
*.DS_Store
*.idea
*.vscode
*.swp
*.bak
*.tmp
*.orig
*.coverage
*.pytest_cache
*.mypy_cache
*.tox
*.ipynb_checkpoints
*.env
.env.local
.env.production
.env.development