# Virtual environment
venv/

# Music downloads
music/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db
*.sqlite3

# Logs
*.log

# Packaging
*.egg
*.egg-info/
*.dist-info/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Editor temp files
*.swp
*.bak
*.tmp
*.orig

# Testing/CI
.coverage
.pytest_cache/
.mypy_cache/
.tox/
.ipynb_checkpoints/

# Environment
.env
.env.local
.env.production
.env.development

# PyInstaller
build/
dist/
*.spec